<p class="lead mt-4">
	Formulário do grupo g09
</p>


<p>
	<small>Desenvolva aqui o seu formulário de cadastro.</small>
</p>

<form action="http://10.97.3.8:9000/salvar">
	<input type="hidden" name="grupo" value=g09 />
	<label for="nome">Nome</label>
	<input type="text" name="nome" placeholder="Digite seu nome: ">
	<label for="descricao">Descrição</label>
	<input type="text" name="descricao" placeholder="Descreva">
	<label for="number">Digite seu número de celular</label>
	<input type="number" placeholder="Número de telefone">
	<label for="type">Sua profissão: </label>
	<input type="text" placeholder="Digite seu cargo">
	<label for="option">Opções</label>
	<select name="" id="">
		<option value="homem">Homem</option>
		<option value="mulher">Mulher</option>
		<option value="none">Prefiro não dizer</option>
		<option value="nenhum">Nenhum</option>
		<option value="Helicoptero">Helicoptero</option>
	</select>
	<label for="date">Digite a data: </label>
	<input type="text" placeholder="Digite a data">
     <input type="submit">
</form>